src/wsdl/localhost_8080/bumblebeeServices/InventoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shanlk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shanlk/" name="InventoryService">
<types>
<xsd:schema>
<xsd:import namespace="http://shanlk/" schemaLocation="http://localhost:8080/bumblebeeServices/InventoryService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addBrand">
<part name="parameters" element="tns:addBrand"/>
</message>
<message name="addBrandResponse">
<part name="parameters" element="tns:addBrandResponse"/>
</message>
<message name="deleteBrand">
<part name="parameters" element="tns:deleteBrand"/>
</message>
<message name="deleteBrandResponse">
<part name="parameters" element="tns:deleteBrandResponse"/>
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory"/>
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="getBrands">
<part name="parameters" element="tns:getBrands"/>
</message>
<message name="getBrandsResponse">
<part name="parameters" element="tns:getBrandsResponse"/>
</message>
<message name="getBrand">
<part name="parameters" element="tns:getBrand"/>
</message>
<message name="getBrandResponse">
<part name="parameters" element="tns:getBrandResponse"/>
</message>
<message name="updateBrand">
<part name="parameters" element="tns:updateBrand"/>
</message>
<message name="updateBrandResponse">
<part name="parameters" element="tns:updateBrandResponse"/>
</message>
<message name="getCategory">
<part name="parameters" element="tns:getCategory"/>
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse"/>
</message>
<message name="updateStatus">
<part name="parameters" element="tns:updateStatus"/>
</message>
<message name="updateStatusResponse">
<part name="parameters" element="tns:updateStatusResponse"/>
</message>
<portType name="InventoryService">
<operation name="getCategories">
<input wsam:Action="http://shanlk/InventoryService/getCategoriesRequest" message="tns:getCategories"/>
<output wsam:Action="http://shanlk/InventoryService/getCategoriesResponse" message="tns:getCategoriesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://shanlk/InventoryService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://shanlk/InventoryService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addBrand">
<input wsam:Action="http://shanlk/InventoryService/addBrandRequest" message="tns:addBrand"/>
<output wsam:Action="http://shanlk/InventoryService/addBrandResponse" message="tns:addBrandResponse"/>
</operation>
<operation name="deleteBrand">
<input wsam:Action="http://shanlk/InventoryService/deleteBrandRequest" message="tns:deleteBrand"/>
<output wsam:Action="http://shanlk/InventoryService/deleteBrandResponse" message="tns:deleteBrandResponse"/>
</operation>
<operation name="updateCategory">
<input wsam:Action="http://shanlk/InventoryService/updateCategoryRequest" message="tns:updateCategory"/>
<output wsam:Action="http://shanlk/InventoryService/updateCategoryResponse" message="tns:updateCategoryResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://shanlk/InventoryService/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://shanlk/InventoryService/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
<operation name="addCategory">
<input wsam:Action="http://shanlk/InventoryService/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://shanlk/InventoryService/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="getBrands">
<input wsam:Action="http://shanlk/InventoryService/getBrandsRequest" message="tns:getBrands"/>
<output wsam:Action="http://shanlk/InventoryService/getBrandsResponse" message="tns:getBrandsResponse"/>
</operation>
<operation name="getBrand">
<input wsam:Action="http://shanlk/InventoryService/getBrandRequest" message="tns:getBrand"/>
<output wsam:Action="http://shanlk/InventoryService/getBrandResponse" message="tns:getBrandResponse"/>
</operation>
<operation name="updateBrand">
<input wsam:Action="http://shanlk/InventoryService/updateBrandRequest" message="tns:updateBrand"/>
<output wsam:Action="http://shanlk/InventoryService/updateBrandResponse" message="tns:updateBrandResponse"/>
</operation>
<operation name="getCategory">
<input wsam:Action="http://shanlk/InventoryService/getCategoryRequest" message="tns:getCategory"/>
<output wsam:Action="http://shanlk/InventoryService/getCategoryResponse" message="tns:getCategoryResponse"/>
</operation>
<operation name="updateStatus">
<input wsam:Action="http://shanlk/InventoryService/updateStatusRequest" message="tns:updateStatus"/>
<output wsam:Action="http://shanlk/InventoryService/updateStatusResponse" message="tns:updateStatusResponse"/>
</operation>
</portType>
<binding name="InventoryServicePortBinding" type="tns:InventoryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrands">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InventoryService">
<port name="InventoryServicePort" binding="tns:InventoryServicePortBinding">
<soap:address location="http://localhost:8080/bumblebeeServices/InventoryService"/>
</port>
</service>
</definitions>