src/wsdl/localhost_8080/bumblebeeServices/LoanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shanlk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shanlk/" name="LoanService">
<types>
<xsd:schema>
<xsd:import namespace="http://shanlk/" schemaLocation="http://localhost:8080/bumblebeeServices/LoanService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLoans">
<part name="parameters" element="tns:getLoans"/>
</message>
<message name="getLoansResponse">
<part name="parameters" element="tns:getLoansResponse"/>
</message>
<message name="getLoanShedule">
<part name="parameters" element="tns:getLoanShedule"/>
</message>
<message name="getLoanSheduleResponse">
<part name="parameters" element="tns:getLoanSheduleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="LoanService">
<operation name="getLoans">
<input wsam:Action="http://shanlk/LoanService/getLoansRequest" message="tns:getLoans"/>
<output wsam:Action="http://shanlk/LoanService/getLoansResponse" message="tns:getLoansResponse"/>
</operation>
<operation name="getLoanShedule">
<input wsam:Action="http://shanlk/LoanService/getLoanSheduleRequest" message="tns:getLoanShedule"/>
<output wsam:Action="http://shanlk/LoanService/getLoanSheduleResponse" message="tns:getLoanSheduleResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://shanlk/LoanService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://shanlk/LoanService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="LoanServicePortBinding" type="tns:LoanService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoanShedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoanService">
<port name="LoanServicePort" binding="tns:LoanServicePortBinding">
<soap:address location="http://localhost:8080/bumblebeeServices/LoanService"/>
</port>
</service>
</definitions>