src/wsdl/localhost_8080/bumblebeeServices/ReportService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shanlk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shanlk/" name="ReportService">
<types>
<xsd:schema>
<xsd:import namespace="http://shanlk/" schemaLocation="http://localhost:8080/bumblebeeServices/ReportService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCollectionDateRange">
<part name="parameters" element="tns:getCollectionDateRange"/>
</message>
<message name="getCollectionDateRangeResponse">
<part name="parameters" element="tns:getCollectionDateRangeResponse"/>
</message>
<message name="getTotalCustomers">
<part name="parameters" element="tns:getTotalCustomers"/>
</message>
<message name="getTotalCustomersResponse">
<part name="parameters" element="tns:getTotalCustomersResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllLoans">
<part name="parameters" element="tns:getAllLoans"/>
</message>
<message name="getAllLoansResponse">
<part name="parameters" element="tns:getAllLoansResponse"/>
</message>
<message name="getTotalProducts">
<part name="parameters" element="tns:getTotalProducts"/>
</message>
<message name="getTotalProductsResponse">
<part name="parameters" element="tns:getTotalProductsResponse"/>
</message>
<message name="getTotalLoans">
<part name="parameters" element="tns:getTotalLoans"/>
</message>
<message name="getTotalLoansResponse">
<part name="parameters" element="tns:getTotalLoansResponse"/>
</message>
<message name="getDayCollection">
<part name="parameters" element="tns:getDayCollection"/>
</message>
<message name="getDayCollectionResponse">
<part name="parameters" element="tns:getDayCollectionResponse"/>
</message>
<portType name="ReportService">
<operation name="getCollectionDateRange">
<input wsam:Action="http://shanlk/ReportService/getCollectionDateRangeRequest" message="tns:getCollectionDateRange"/>
<output wsam:Action="http://shanlk/ReportService/getCollectionDateRangeResponse" message="tns:getCollectionDateRangeResponse"/>
</operation>
<operation name="getTotalCustomers">
<input wsam:Action="http://shanlk/ReportService/getTotalCustomersRequest" message="tns:getTotalCustomers"/>
<output wsam:Action="http://shanlk/ReportService/getTotalCustomersResponse" message="tns:getTotalCustomersResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://shanlk/ReportService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://shanlk/ReportService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllLoans">
<input wsam:Action="http://shanlk/ReportService/getAllLoansRequest" message="tns:getAllLoans"/>
<output wsam:Action="http://shanlk/ReportService/getAllLoansResponse" message="tns:getAllLoansResponse"/>
</operation>
<operation name="getTotalProducts">
<input wsam:Action="http://shanlk/ReportService/getTotalProductsRequest" message="tns:getTotalProducts"/>
<output wsam:Action="http://shanlk/ReportService/getTotalProductsResponse" message="tns:getTotalProductsResponse"/>
</operation>
<operation name="getTotalLoans">
<input wsam:Action="http://shanlk/ReportService/getTotalLoansRequest" message="tns:getTotalLoans"/>
<output wsam:Action="http://shanlk/ReportService/getTotalLoansResponse" message="tns:getTotalLoansResponse"/>
</operation>
<operation name="getDayCollection">
<input wsam:Action="http://shanlk/ReportService/getDayCollectionRequest" message="tns:getDayCollection"/>
<output wsam:Action="http://shanlk/ReportService/getDayCollectionResponse" message="tns:getDayCollectionResponse"/>
</operation>
</portType>
<binding name="ReportServicePortBinding" type="tns:ReportService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCollectionDateRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDayCollection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReportService">
<port name="ReportServicePort" binding="tns:ReportServicePortBinding">
<soap:address location="http://localhost:8080/bumblebeeServices/ReportService"/>
</port>
</service>
</definitions>